{% extends 'base.html' %}
{% load static %}
{% load curso_calificacion_tag %}
{% block title %}Mis Cursos{% endblock title %}

{% block stylesheet %}
    <link href="{% static 'css/mis_cursos.css' %}" rel="stylesheet" />
{% endblock stylesheet %}

{% block content %}
    <h1 class="my-2 text-center">MIS CURSOS</h1>

    <div class="my-courses mx-0 row" style="overflow-x: hidden;">
        {% if not user_courses %}
            <div class="text-center">
                <h1 class="display-5">Aún no posees ningún curso</h1>
                <p class="lead">Aprende sobre nutrición con cursos hechos por profesionales con décadas de experiencia</p>
                <a href="{% url 'cursos' %}" class="btn btn-success px-5 py-3 my-4">VER CURSOS</a>
            </div>
        {% else %}
            {% for user_course, percentage_completed in user_courses.items %}
                <a href="{% url 'last_seen_user_lesson' user_course.curso.slug %}" class="col-12 col-md-3" style="text-decoration: none; color: var(--black);">
                    <div class="course mb-3">
                        <div class="course-image">
                            <img class="w-100 borde" src="{{MEDIA_URL}}{{user_course.curso.imagen_curso}}" alt="Imagen curso {{user_course.curso.nombre}}" />
                        </div>
                        <div class="course-content">
                            <h3 class="my-1">{{user_course.curso.nombre}}</h3>
                            <p class="course-teacher mb-1">{{user_course.curso.profesor.user.get_full_name}}</p>
                            <div class="mb-1 bar__container">
                                <div class="progress-bar">
                                    <div class="progress" id="bar-{{forloop.counter}}"></div>
                                </div>
                            </div>
                            <div class="row course-details">
                                <span class="completed-text w-auto">{{percentage_completed}}% completado</span>
                                <div class="w-auto course-stars">
                                    <!-- TODO: meter un modal para editar la calificación desde acá -->
                                    {% calificacion_estrella_usuario user_course.calificacion %}
                                    
                                    {% if user_course.calificacion == 0 %}
                                        <p class="calification-text m-0">Deja una calificación</p>
                                    {% else %}
                                        <p class="calification-text m-0">Tu calificación</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}

{% block script %}
    <script>
        // Display bar
        function updateBar(elementId, percentage) {
            let bar = document.getElementById(elementId);
            bar.style.width = percentage + '%';
        }

        {% for _, percentage_completed in user_courses.items %}
            updateBar('bar-{{forloop.counter}}', {{percentage_completed}});
        {% endfor %}
    </script>
{% endblock script %}