@media(max-width: 768px) {
    .margin-top-mobile {
        margin-top: 10px!important;
    }
}

.img-cover {
    object-fit: cover;
}

h1 {
    font-family: var(--font-raleway);
    font-size: 1.5rem;
}

@media(min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

.hero__image div {
    margin: 0 5px;
}

@media(min-width: 768px) {
    .hero__image div {
        margin: 0 20px;
    }
}

.hero__content div h3 {
    font-family: var(--font-raleway);
}

.hero__content div p {
    font-family: var(--font-cambria);
    font-size: 17px;
}

@media(min-width: 768px) {
    .hero__content div p {
        font-size: 18px;
    }
}

.ingredients__container {
    margin: 0 auto auto auto;
}

.ingredients {
    background-color: rgb(238,238,238);
    border-radius: 10px;
}

@media(min-width: 768px) {
    .recipe__instructions,
    .ingredients__container,
    .escuela__steps__container {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
}


.ingredients h3, 
.recipe__instructions h3,
.escuela__steps__container h3,
.salud__items__container h4 {
    font-family: var(--font-sawarabi-gothic);
    margin-top: 15px;
}

.ingredients p {
    font-family: var(--font-cambria);
    font-size: 17px;
    margin-left: 10px;
}

.recipe__instructions p,
.escuela__steps__container p,
.salud__items__container p {
    font-family: var(--font-cambria);
    font-size: 16px;
}


@media(min-width: 768px) {
    .recipe__instructions p,
    .escuela__steps__container p,
    .salud__items__container p {
        font-size: 17px;
    }
}

.recipe__analysis,
.nutricion__conclusion,
.escuela__conclusion__container,
.salud__conclusion {
    background-color: #f5f2f0;
}

.recipe__analysis h3,
.nutricion__conclusion h4,
.escuela__conclusion__container h3,
.salud__conclusion h3 {
    font-family: var(--font-raleway);
}

.recipe__analysis p,
.nutricion__conclusion p,
.escuela__conclusion__container p,
.salud__conclusion p {
    font-family: var(--font-cambria);
    font-size: 17px;
}

@media(min-width: 768px) {
    .recipe__analysis p,
    .nutricion__conclusion p,
    .escuela__conclusion__container p,
    .salud__conclusion p {
        font-size: 18px;
    }
}

.escuela__steps__container p {
    font-family: var(--font-cambria);
}

.escuela__steps__container,
.nutricion__text__container {
    margin: 0 auto;
}

.nutricion__text {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}

.salud__items {
    list-style: none;
    padding-left: 0;
}

.salud__items li a {
    text-decoration: none;
    color: rgb(20,20,20);
    font-family: var(--font-cambria);
    font-size: 18px;
    transition: all .15s ease-in-out;
}

.salud__items li a:hover {
    text-decoration: line-through;
    color: rgb(60,60,60);
}

