{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
    <link href="{% static 'css/post.css' %}" rel="stylesheet">
{% endblock stylesheet%}

{% block content %}

    <article>

        <div align="center" class="container-fluid">

            <h1 class="mt-2 raleway">{{escuela_cocina.titulo}}</h1>

            <div class="row my-4">

                <div class="col-12 col-lg-6">

                    <div class="borde margin-imagen-principal">
                        <img class="w-100 borde" src="{{MEDIA_URL}}{{escuela_cocina.imagen_principal}}" alt="Imagen técnica de cocina {{escuela_cocina.titulo}}">
                    </div>

                </div>

                <div class="col-12 col-lg-6 text-start">

                    <div class="mb-4 margin-top-mobile">
                        <h3 class="raleway mx-2">Introducción</h3>
                        <p class="cambria size-texto-cuerpo mx-2">{{escuela_cocina.resumen}}</p>
                    </div>

                    <div>
                        <h3 class="raleway mx-2">Ingredientes</h3>
                        <p class="cambria size-texto-cuerpo mx-2">{{escuela_cocina.ingredientes|safe}}</p>
                    </div>

                    <div class="row mt-4" >
                        {% if escuela_cocina.youtube_link %}
                            <div class="col-3 col-lg-2" style="margin-left: 5px;">
                                <a href="{{receta.youtube_link}}" target="_blank" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    
                </div>

            </div>



            <div class="row mb-4">

                <h3 class="text-center">Técnica</h3>

                <div class="col-12 col-lg-10 text-start" style="margin: 0 auto;">
                    {% for paso in pasos_escuela %}
                        <p class="cambria ">{{paso.numero_paso}}- {{paso.descripcion}}</p>
                    {% endfor %}
                </div>

                <div class="col-12">

                    <div class="row my-4">

                        <div class="col-12 col-lg-6">
                            <img class="w-100 borde" src="{{MEDIA_URL}}{{escuela_cocina.imagen_secundaria_1}}" />
                        </div>
    
                        <div class="col-12 col-lg-6 margin-top-mobile">
                            <img class="w-100 borde" src="{{MEDIA_URL}}{{escuela_cocina.imagen_secundaria_2}}" />
                        </div>

                    </div>

                    <div class="col-12">
                        <img class="w-100 borde" src="{{MEDIA_URL}}{{escuela_cocina.imagen_secundaria_3}}" />
                    </div>

                </div>
                
            </div>


            <div class="col-12 col-lg-10 mb-4">

                <h3>Conclusión</h3>

                <p class="text-start">{{escuela_cocina.conclusion}}</p>

            </div>

        </div>

    </article>

{% endblock content %}