{% load static %}

<footer>
    <div class="footer__container text-center d-flex">
        <div class="col-12 col-md-4 footer__pages">
            <h4>PÁGINAS</h4>
            <div class="d-flex flex-column footer__links">
                <a href="{% url 'index' %}">INICIO</a>
                <a href="{% url 'recetas' %}">RECETAS</a>
                <a href="{% url 'salud' %}">SALUD</a>
                <a href="{% url 'nutricion' %}">NUTRICIÓN</a>
                <a href="{% url 'escuela_cocina' %}">ESCUELA DE COCINA</a> 
                <a href="#" class="mb-3">CURSOS</a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'index' %}" style="max-width: 15%;"><img src="{% static 'img/logo_footer.png' %}" alt="Logo footer" class="footer__image"></a>
        </div>
        <div class="col-12 col-md-4 footer__us">
            <h4>NOSOTROS</h4>
            <div class="footer__redes">
                <a href="https://www.instagram.com/cocina.salud/" target="_blank" class="link"><i class="bi bi-instagram footer__redes__icon" id="instagram-icon"></i></a>
                <a href="https://www.instagram.com/cocina.salud/" target="_blank" id="instagram-text">@cocina.salud</a>
            </div>
            <div class="footer__redes">
                <a href="https://www.youtube.com/c/COCINASALUDMEDICA" target="_blank" class="link"><i class="bi bi-youtube footer__redes__icon" id="youtube-icon"></i></a>
                <a href="https://www.youtube.com/c/COCINASALUDMEDICA" target="_blank" id="youtube-text">Cocina Salud</a>
            </div>
            <div class="footer__redes">
                <i class="bi bi-geo-alt footer__redes__icon" id="location-icon"></i>
                <a href="" id="location-text">Rosario, Santa Fe, Argentina</a>
            </div>
            <div class="footer__redes">
                <i class="bi bi-envelope footer__redes__icon" id="mail-icon"></i>
                <a href="" id="mail-text">cocinasalud2001@gmail.com</a>
            </div>
        </div>
    </div>
</footer>