{% load static %}

<footer>
    <div class="fondo-verde text-center padding-container__footer d-flex fila-columna-responsive">
        <div class="col-12 col-sm-4">
            <h4 class="roboto negrita blanco padding-titulo__footer size-titulo-footer">PÁGINAS</h4>
            <div class="d-flex flex-column">
               <a href="#" class="raleway blanco link negrita-600 espacio-paginas__footer text-uppercase size__small">Inicio</a>
                <a href="{% url 'recetas' %}" class="raleway blanco link negrita-600 espacio-paginas__footer text-uppercase size__small">Recetas</a>
                <a href="{% url 'salud' %}" class="raleway blanco link negrita-600 espacio-paginas__footer text-uppercase size__small">Salud</a>
                <a href="{% url 'nutricion' %}" class="raleway blanco link negrita-600 espacio-paginas__footer text-uppercase size__small">Nutrición</a>
                <a href="{% url 'escuela_cocina' %}" class="raleway blanco link negrita-600 espacio-paginas__footer text-uppercase size__small">Escuela de Cocina</a> 
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <a href="/" style="max-width: 15%;"><img src="{% static 'img/logo_footer.png' %}" alt="Logo footer" class="size-imagen__footer"></a>
        </div>
        <div class="col-12 col-sm-4">
            <h4 class="roboto negrita blanco padding-titulo__footer size-titulo-footer">NOSOTROS</h4>
            <div class="espacio-redes__footer">
                <a href="https://www.instagram.com/cocina.salud/" target="_blank" class="link"><i class="bi bi-instagram blanco"></i></a>
                <a href="https://www.instagram.com/cocina.salud/" class="raleway blanco link negrita-600" target="_blank">@cocina.salud</a>
            </div>
            <div class="espacio-redes__footer">
                <a href="https://www.youtube.com/c/COCINASALUDMEDICA" target="_blank" class="link"><i class="bi bi-youtube blanco"></i></a>
                <a href="https://www.youtube.com/c/COCINASALUDMEDICA" class="raleway blanco link negrita-600" target="_blank">Cocina Salud</a>
            </div>
            <div class="espacio-redes__footer">
                <i class="bi bi-geo-alt blanco"></i>
                <a href="" class="raleway blanco link negrita-600">Rosario, Santa Fe, Argentina</a>
            </div>
            <div class="espacio-redes__footer">
                <i class="bi bi-envelope blanco"></i>
                <a href="" class="raleway blanco link negrita-600">cocinasalud2001@gmail.com</a>
            </div>
        </div>
    </div>
</footer>