{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
  <link href="{% static 'css/index.css'%}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}

<div id="carouselDesktop" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'img/banner_cocina.jpg' %}" alt="Cocina slide">
        <div class="carousel-caption d-md-block">
          <h3>COCINA</h3>
          <a class="btn" href="{% url 'recetas' %}">VER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/banner_salud.jpg' %}" alt="Salud slide">
        <div class="carousel-caption d-md-block">
          <h3>SALUD</h3>
          <a class="btn" href="{% url 'salud' %}">VER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/banner_nutricion.jpg' %}" alt="Nutrición slide">
        <div class="carousel-caption d-md-block">
          <h3>NUTRICIÓN</h3>
          <a class="btn" href="{% url 'nutricion' %}">VER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/banner_trucos.jpg' %}" alt="Trucos slide">
        <div class="carousel-caption d-md-block">
          <h3>TRUCOS DE COCINA</h3>
          <a class="btn" href="{% url 'escuela_cocina' %}">VER MÁS</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="carouselMobile" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselMobile" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselMobile" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselMobile" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselMobile" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/banner_cocina_mobile.jpg' %}" alt="Cocina mobile slide">
      <div class="carousel-caption d-md-block">
        <h3>COCINA</h3>
        <a class="btn" href="{% url 'recetas' %}">VER MÁS</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/banner_salud_mobile.jpg' %}" alt="Salud mobile slide">
      <div class="carousel-caption d-md-block">
        <h3>SALUD</h3>
        <a class="btn" href="{% url 'salud' %}">VER MÁS</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/banner_nutricion_mobile.jpg' %}" alt="Nutrición mobile slide">
      <div class="carousel-caption d-md-block">
        <h3>NUTRICIÓN</h3>
        <a class="btn" href="{% url 'nutricion' %}">VER MÁS</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/banner_trucos_mobile.jpg' %}" alt="Trucos mobile slide">
      <div class="carousel-caption d-md-block">
        <h3>TRUCOS DE COCINA</h3>
        <a class="btn" href="{% url 'escuela_cocina' %}">VER MÁS</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMobile" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMobile" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="col-12 d-flex welcome__container">
    <div class="col-12 col-md-6 text-center">
        <img src="{% static 'img/inicio.jpg' %}" class="welcome__image" alt="Welcome image">
    </div>
    <div class="col-12 col-md-6 welcome__content">
        <h3>Te damos la bienvenida!</h3> 
        <p>En este espacio encontrarás TODO lo que necesitas para tener una alimentación saludable, deliciosa y beneficiosa para vos, los animales y el planeta.</p>
        <p>Aquí encontrarás:<br>
            - Recetas riquísimas, fáciles, saludables y veganas.<br>
            - Trucos y tips para aprender a cocinar saludable desde 0.<br>
            - Todos los nutrientes de los alimentos y cómo benefician a tu cuerpo.<br>
            - Cómo prevenir, tratar y mejorar las enfermedades desde la nutrición.
        </p>   
        <div class="text-center pb-2">
            <a href="{% url 'acerca_de' %}" class="btn slide-in-up welcome__button py-2 px-4">Sigue leyendo<i class="bi bi-heart px-2"></i></a>  
        </div>
        
    </div>
</div>

<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    });
  });
</script>


{% endblock %}