{% extends 'base.html' %}
{% load static %}

{% block title %}Recetas{% endblock title %}

{% block stylesheet %}
    <link href="{% static 'css/galeria_posts.css' %}" rel="stylesheet">
{% endblock stylesheet%}

{% block content %}

<h1 class="text-center my-2">Recetas</h1>

<div class="container-fluid mb-4 gallery__container">
    <div class="row d-flex mx-4">
        {% for receta in recetas %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 gallery__box">
                <a href="{% url 'ver_receta' receta.id %}">
                    <div id="image-{{forloop.counter}}" class=" gallery__image__container mb-2">
                        <img alt="Receta" class="w-100" src="{{MEDIA_URL}}{{receta.imagen_principal}}">
                    </div>
                    <p id="titulo-{{forloop.counter}}" class="gallery__title centrar-mobile text-center text-uppercase">{{receta.titulo}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% block script %}
    <script>
        $( document ).ready(function() {
            let titles = [];
            let images = [];
            for (let i = 1; i <= {{recetas|length}}; i++){
                const title = document.getElementById(`titulo-${i}`);
                const image = document.getElementById(`image-${i}`);
                titles.push(title);
                images.push(image);
            }

            for (let j = 0; j < titles.length; j++){
                titles[j].addEventListener('mouseover', function() {
                    images[j].classList.add('gallery__image__container-hover');
                });

                titles[j].addEventListener('mouseout', function() {
                    images[j].classList.remove('gallery__image__container-hover');
                });
            }
        });
    </script>
{% endblock script %}


{% endblock %}